@charset "UTF-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::after,
*::before {
  box-sizing: border-box;
}

/* @import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&family=Roboto&display=swap"); */

body,
html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

}

#body-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#landing-page {
  flex: 1 0 auto;
  min-height: 100vh;
}

.page-title {
  text-align: center;
  margin: 20px 0;
  letter-spacing: 2px;
  font-size: 1.2rem;
  /* font-weight: 400; */
}

#foots-container {
  display: flex;
  flex-direction: column;
  height: 170px;
  align-items: center;
  color: #fff;
  flex-shrink: 0;
  background-color: #000f34;
}

.logo-tag {
  margin: 20px;
}

.logo-tag > a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.footer-links {
  margin: 10px 0;
}

.footer-links > a {
  text-decoration: none;
  color: #fff;
  margin: 20px;
}

.icons-container {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.icons-container a {
  text-decoration: none;
  color: #fff;
}

.icons {
  /* margin: 15px 10px 15px 10px; */
  margin: 7px 7px 5px 7px;
}


/* ********* About us Page ****** */

.about-page {
  min-height: 100vh;
  margin: 50px auto 0 auto;
  width: 70%;
  color: #343a40;
}

.title {
  margin: 50px 0;
  font-weight: 400;
}

.tagLines {
  margin: 30px auto;
  word-spacing: 2px;
  font-size: 16px;
  line-height: 25px;
}

.about-img {
  height: 200px;
  width: 300px;
}

.imgLogo {
  transform: translateX(-60%);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #017acd;
  height: 50px;
  color: #fff;
}

nav > #logo {
  text-decoration: none;
  font-size: 25px;
  display: none;
  color: #fff;
}

/* #logo > img {
  display: block;
} */

.links {
  display: none;
}

.cityMob {
  margin-right: -20px;
}

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  margin-left: 8px;
  width: 25px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  z-index: 2;
}

.menu-btn__burger {
  background-color: #fff;
  height: 3px;
  width: 20px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  /* left: 10px; */
  width: 20px;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-7px);
}

.menu-btn__burger::after {
  transform: translateY(7px);
}

.showCross {
  position: fixed;
}

.menu-btn.showCross .menu-btn__burger {
  transform: translateX(35px);
  background: transparent;
}

.menu-btn.showCross .menu-btn__burger::before {
  transform: rotate(45deg) translate(-25px, 25px);
}

.menu-btn.showCross .menu-btn__burger::after {
  transform: rotate(-45deg) translate(-25px, -25px);
}

.countryName {
  display: none;
}

span > #icondrop {
  display: none;
}

div > #searchIcon {
  margin-right: -3px;
  margin-top: 3px;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 12px;
  transition: color 0.5s;
  right: 20px;
}

div > .black {
  color: #000;
}

div >   .showSearch {
  display: block;
  border: 1px solid #000;
  height: 30px;
  width: 150px;
  margin-right: 8px;
  transition: width 0.4s;
  padding: 10px;
  outline: none;
  border-radius: 15px;
}

div > .noSearch {
  width: 0;
  transition: width 0.4s;
  border: none;
  height: 30px;
  outline: none;
  border-radius: 15px;
  margin-right: 11px;
}

/* ***********side Container ******* */

.sideContainer {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  list-style-type: none;
  background-color: #017acd;
}


.showMenu {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  transition: width 0.5s ease-out;
}

.hideMenu {
  left: -120px;
  height: 110vh;
  width: 0;
  transition: width 0.6s ease-out;
}

.side-tag {
  font-size: 1.8em;
  letter-spacing: 1.5px;
  position: relative;
  top: 100px;
  margin-left: 12px;  
}

 .ul-nav-links {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-links {
  position: relative;
  width: 60%;
  padding: 10px;
  top: 150px;
  list-style-type: none;
  margin: 15px 0;
  /* text-align: center; */
}

.home-icon {
  position: relative;
  top: 2px;
  right: 3px;
  margin-left: 5px;
  /* padding: 1px; */
}

.nav-links > a {
  text-decoration: none;
  color: #fff;
  height: 28px;

}

.nav-links:hover {
  background-color: #8d9bf5;
  border-radius: 20px;
}



.ul-list-items {
  position: absolute;
  color: #fff;
  overflow: hidden;
  top: 50px;
  right: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: #017acd;
}

.list {
  z-index: 1;
  transition: all 0.4s ease-out;
}

.nolist {
  position: absolute;
  top: 50px;
  z-index: 1;
  transition: width 0.4s ease-in-out;
  width: 0;
}

div.cities {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

h2.countriesNames {
  display: inline-block;
  margin-left: 30px;
  /* cursor: pointer; */
}

/* h2.countriesNames:hover {
  transform: scale(1.2);
} */

ul.citiesNames {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: 35px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.citiesNames > li {
  margin: 8px;
}

.c-name {
  text-decoration: none;
  color: #fff;
  letter-spacing: 2.5px;
}

.citiesNames > li:hover {
  transform: scale(1.2);
}

div > hr {
  width: 80vw;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 -5px 10px rgba(0, 0, 0, 0.1);
}

.list-items {
  /* margin: 3px 25px; */
  font-size: 0.9em;
  border-bottom: 0.8px solid #fff;
  padding: 8px 8px 4px;
}

#header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}

img.head-image {
  height: 150px;
  width: 150px;
}

.tag-line {
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 6px;
}

.tag-line span::before {
  content: "\A";
  white-space: pre;
}

.left-button,
.right-button {
  display: none;
}

#time-container {
  color: #017acd;
  background-color: #fff;
  overflow: auto;
  margin: 20px 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 -5px 10px rgba(0, 0, 0, 0.1);
}

#time-container > .list-item {
  font-size: 0.8em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  white-space: nowrap;
  overflow-x: auto;
  padding: 0 5px;
}

#time-container > ul::-webkit-scrollbar {
  height: 11px;
}

#time-container > ul::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #fff;
}

.list-item > li {
  list-style-type: none;
  cursor: pointer;
  padding: 7px 5px;
  text-align: center;
}

.list-item > li:hover {
  background-color: #ccf8fc;
}

#Trends-container {
  display: flex;
  justify-content: center;
}

#Trends-container > .ol-list {
  margin: 20px 0;
  list-style-type: none;
}


#Trends-container > .ol-list > li> a {
  margin: 10px 0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2), 0 -3px 5px rgba(0, 0, 0, 0.2);
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  overflow: hidden;
  font-size: 85%;
  height: 35px;
  border: 0.8px solid #000;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#Trends-container > .ol-list > li> a > span {
  color: #000;
}

#Trends-container > .ol-list > li> a:hover {
  transform: scale(1.1);
  color: #017acd;
  transition: color 0.3s ease;
}

.trends-cont {
  display: none;
}

.hash-loader-mobile {
  position: absolute;
  top: 75%;
  left: 50%;
}

.location_menu_country_list > li {
  padding: 10px;
  overflow: hidden;
  border-bottom: 1px solid #bdbdbd;
}


h5 {
  text-transform: uppercase;
  font-size: 0.8rem;
}

.location_menu_city_list > li {
  display: inline-block;
  margin-right: 1rem;
  line-height: 1.5em;
}

/* **************************hashtag page***************************************** */
.hashtag {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background: #f1f1f1;
  min-height: 100vh;
}

.hashtag-box {
  width: 100%;
  text-align: center;
  background: #fff;
  margin: 40px 0;
  box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.1);
}

.hash-line {
  margin: 10px 0;
  font-weight: 400;
  font-size: 1.3em;
  letter-spacing: 1.3px;
}

.hash-index {
  font-size: 1.5em;
  margin: 0 5px;
}

.hashtag-name{
  margin: 25px 0;
  text-decoration: none;
  font-size: 1.9em;
  color: #017acd;
  letter-spacing: 1.4px;
}

.hashtag-name:hover {
  color: #000fdf;
}

.country-drop {
  height: 30px;
  cursor: pointer;
  position: relative;
  top: -6px;
  margin-left: 12px;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 25px 50px 0 50px;
}

.details-1 {
  font-size: 1.6em;
  font-weight: 400;
  text-decoration: underline;
}

.details-1::after {
  white-space: pre;
  content: "\A";
}

.tweet-location {
  text-align: center;
  margin: 25px 0;
  font-size: 1.35em;
}

.tweet-location > p > span {
  font-size: 1.4em;
  margin: 0 7px;
  text-decoration: underline;
}

.hash-loader {
  position: absolute;
  top: 50%;
}

/* ********Top Tweets ****** */

.top-tweets-box {
  text-align: center;
  width: 100%;
  height: auto;
  margin: 40px 0;
  background-color: #fff;
  box-shadow: 5px 15px 15px rgba(0,0,0, 0.2);
}

.tt-tag {
  font-size: 1.5em;
  font-weight: 500;
  word-spacing: 2px;
  padding: 12px;
  /* background: #f1f1f1; */
  border-bottom: 1px solid #c0c0c0 ;
}

.tt-trends > li{
  border-bottom: 1px solid #c0c0c0;
  list-style-type: none;
  padding: 8px;
  cursor: pointer;
}

.tt-trends > li > a {
  text-decoration: none;
  color: #2b2b2b;
}

.tt-trends > li > a:hover {
  color: #017acd;
  transition: color 0.3s ease;
}

.tt-trends > li:nth-child(odd){
  background: #f1f1f1;
}


/* ***********map chart******** */

.map[style] {
  height: 500px !important;
}

/****** 404 Page ***** */
.container-404 {
  text-align: center;
}

.header-404 > h1 {
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 2.5em;
}

.header-404 > h1 >span ::before {
  content: '\A';
  white-space: pre;
}

.img-404 {
  height: 200px;
  width: 300px;
  margin-top:20px ;
}

.tag-404 > h2 {
  margin-top: 20px;
  font-size: 1.8em;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* position: relative; */
  /* top: 50%; */
  /* left: 50%; */
}


@media all and (min-width: 320px) and (max-width: 424px) {
  .nav {
    height: 45px;
  }

  .hidelogo {
    display: none;
  }

  .hideCountry {
    display: none;
  }

  .imgLogo {
    transform: translateX(-45%);
  }

  .cityMob {
    margin-right: -5px;
  }

  nav > #logo {
    display: none;
    font-size: 15px;
  }

  .nav-links {
    text-align: center;
  }

  
#Trends-container > .ol-list > li> a  {
  width: 300px;
}

  div > #searchIcon {
    top: 10px;
    right: 16px;
  }

  div > .showSearch {
    width: 150px;
    height: 27px;
  }

  div > .noSearch {
    height: 27px;
  }

  .ul-list-items {
    top: 40px;
  }

  .showMenu {
    width: 100vw;
  }

  #header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 5px;
  }

  img.head-image {
    height: 125px;
    width: 125px;
  }

  .tag-line {
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 5px;
  }

  #Trends-container > .ol-list > a {
    width: 260px;
    font-size: 0.9em;
    height: 40px;
  }

  #foots-container {
    height: 200px;
  }

  .icons-container {
    margin-top: 10px;
  }

  .hash-line {
    margin: 20px 0;
    font-size: 1em;
  }
  
  
  .hashtag-name{
    margin: 20px 0;
    font-size: 1.6em;
  }
  
  
  .country-drop {
    margin-left: 7px;
  }
  
  .details {
    margin: 25px 30px 0 30px;
    font-size: 1em;
  }
  
  .details-1 {
    font-size: 1.3em;
    font-weight: 400;
    text-decoration: underline;
  }
  
  .tweet-location {
    font-size: 1.1em;
  }
  
  .tweet-location > p > span {
    font-size: 1.5em;
  }
  
  .hash-loader {
    position: absolute;
    top: 50%;
  }

  .map[style] {
    height: 450px !important;
  }
  
  .jvectormap-zoomin,
  .jvectormap-zoomout {
    cursor: pointer;
    font-size: 25px;
  }
  
  .jvectormap-container>svg {
    height: 350px;
  }
}

@media all and (min-width: 768px) {
  body {
    font-family: "Montserrat", sans-serif;
    height: 100%;
    font-family: "Raleway", sans-serif;
    font-family: "Roboto", sans-serif;
  }

  .cityMob {
    display: none;
  }

  #body-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .nav {
    color: #fff;
    height: 70px;
    border: none;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 2px;
  }

  .menu-btn {
    display: none;
  }

  .nav > #logo {
    font-size: 25px;
    display: block;
    color: #f1f1f1;
    text-decoration: none;
    left: 5%;
  }

  .imgLogo {
    display: none;
  }

  .links {
    text-decoration: none;
    margin: 0 40px;
    display: block;
    color: #fff;
    font-size: 1.1em;
  }

  h3.links {
    margin: 0 50px;
    display: block;
    cursor: pointer;
  }

  #Trends-container {
    display: none;
  }

  .page-title {
    margin: 35px 0;
    font-size: 2rem;
  }

  .home-icon {
    position: relative;
    font-size: 0.9em;
    top: 1.7px;
    margin-left: 2px;
  }

  .last-link {
    padding-right: 20px;
    cursor: pointer;
  }

  .nav > span {
    flex: 1;
  }

  .about-img {
    width: 400px;
    height: 250px;
  }

  div > #searchIcon {
    margin-right: 10px;
    margin-top: 3px;
    font-size: 22px;
    cursor: pointer;
    position: absolute;
    transform: translateY(50%);
    right: 20px;
    top: 10px;
  }

  div > .showSearch {
    display: block;
    border: 1px solid #000;
    height: 35px;
    width: 250px;
    margin-right: 20px;
    transition: width 0.4s;
    padding: 12px;
    outline: none;
    border-radius: 18px;
  }

  div >  .noSearch {
    width: 0;
    transition: width 0.4s;
    border: none;
    height: 35px;
    outline: none;
    border-radius: 18px;
    margin-right: 20px;
  }

  .ul-list-items {
    position: absolute;
    color: #fff;
    top: 70px;
    right: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: #017acd;
  }

  div.cities {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  h2.countriesNames {
    display: inline-block;
    margin-left: 30px;
  }

  ul.citiesNames {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .citiesNames > li {
    margin: 8px;
    cursor: pointer;
  }

  .citiesNames > li:hover {
    transform: scale(1.2);
  }

  div > hr {
    width: 80vw;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 -5px 10px rgba(0, 0, 0, 0.1);
  }

  .list {
    z-index: 1;
    transition: all 0.5s ease-out;
  }

  .nolist {
    position: absolute;
    top: 70px;
    right: -50px;
    transition: width 0.5s ease-in-out;
    width: 0;
  }

  .list-items {
    font-size: 1.2em;
    cursor: pointer;
    border-bottom: 1px solid #fff;
    padding: 10px 10px 4px;
  }

  #header-container {
    margin: 50px 0;
  }

  .tag-line {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.5cm;
    letter-spacing: 10px;
  }

  img.head-image {
    height: 250px;
    width: 350px;
  }

  #time-container {
    display: none;
    margin: 30px 20px;
  }

  #time-container > .list-item {
    font-size: 1.1em;
    padding: 2px 15px;
  }

  #time-container > ul::-webkit-scrollbar {
    height: 12px;
  }

  div.loadings {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loading-icon {
    font-size: 2em;
    position: absolute;
    top: 80%;
    /* vertical-align: middle; */
    animation: rotation 2.5s infinite ease-out;
  }

  #foots-container {
    color: #fff;
  }

  .logos {
    align-self: center;
    margin-left: 150px;
    justify-self: inherit;
  }
  .tagLines {
    margin: 30px auto;
    word-spacing: 3.5px;
    font-size: 25px;
    line-height: 40px;
  }

  .header-404 {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .img-404 {
    height: 300px;
    width: 426px;
  }

  .tag-404 {
    margin: 50px auto;
  }

}
.location_menu_country_list {
  list-style-type: none;
  padding: 12px 24px;
}

